<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
        <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
        <script src="https://raw.githack.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    </head>

    <body style="margin: 0; overflow: hidden;">
        <a-scene
            renderer="logarithmicDepthBuffer: true;"
            embedded
            loading-screen="enabled: false;"
            arjs="sourceType: webcam; debugUIEnabled: false;"
        >
            <a-assets>
            {% for asset in  object.multi_uploads %}
               <a-asset-item

                    id="animated-asset"
                    src="/media/{{ asset }}"
                ></a-asset-item>
            {% endfor %}


            </a-assets>

            {% for location in object.Locations.all   %}
                <a-entity
                    look-at="[gps-camera]"
                    animation-mixer="loop: repeat"
                    gltf-model="#animated-asset"
                    scale="16.551939061849072 16.551939061849072 16.551939061849072"
                    gps-entity-place="latitude: {{ location.Latitude1 }}; longitude: {{ location.Longitude1 }};"
                ></a-entity>
            {% endfor %}
            <a-marker-camera preset='hiro'></a-marker-camera>
            <a-camera gps-camera rotation-reader></a-camera>
        </a-scene>
    </body>
</html>

